node_modules
dist

coverage/
test-*.xml
junit*.xml

node_modules/
.vscode/
.history/
dist/
.vs/
junit.xml
dev
yarn-error.log
package-lock.json

src/azure-functions-core-tools/
src/bin/
src/obj/

src/**/*.js
src/**/*.js.map
tools/**/*.js
tools/**/*.js.map

.idea/*
.idea

.DS_Store